---
import { Navigation } from '~/components/navigation';
import { news, newsWithImage } from '~/constants/news';

import '~/styles/globals.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Inter:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />

    <meta name="generator" content={Astro.generator} />

    <title>Frontend Mentor | News homepage</title>
  </head>

  <body class="mx-auto px-6 lg:w-9/12 lg:px-0 2xl:w-7/12 bg-off-white">
    <Navigation client:load />

    <main class="flex flex-col gap-16">
      <section class="grid md:grid-cols-[2fr_1fr] gap-y-16 gap-x-8">
        <div class="grid md:grid-cols-2 gap-y-6 gap-x-8">
          <picture class="col-span-full">
            <source srcset="/image-web-3-desktop.jpg" media="(min-width: 768px)" />
            <img src="/image-web-3-mobile.jpg" alt="Hero Image" />
          </picture>

          <h1 class="font-extrabold text-4xl lg:text-5xl">The Bright Future of Web 3.0?</h1>

          <div class="flex flex-col gap-6">
            <p>
              We dive into the next evolution of the web that claims to put the power of the
              platforms back into the hands of the people. But is it really fulfilling its promise?
            </p>
            <button
              class="bg-soft-red w-fit text-white px-6 py-2 uppercase tracking-widest transition-colors hover:bg-very-dark-blue"
              >Read more</button
            >
          </div>
        </div>

        <div class="flex flex-col bg-very-dark-blue p-4 lg:p-6 lg:py-8 gap-6 justify-between">
          <h2 class="text-soft-orange text-3xl font-bold">New</h2>

          {
            news.map(({ title, body }, index) => (
              <>
                <div>
                  <a
                    class="font-bold text-white text-xl hover:text-soft-orange transition-colors"
                    href="#"
                  >
                    {title}
                  </a>
                  <p class="text-gray-300">{body}</p>
                </div>

                {index !== news.length - 1 && <hr class="border-dark-grayish-blue" />}
              </>
            ))
          }
        </div>
      </section>

      <section class="grid md:grid-cols-3 gap-8">
        {
          newsWithImage.map(({ img, title, body }, index) => (
            <div class="flex gap-4 h-fit">
              <img src={img} width="200" height="254" class="w-24" alt={title} />

              <div class="flex flex-col gap-2">
                <h3 class="text-gray-300 text-2xl lg:text-4xl font-bold">
                  {index < 9 ? '0' + (index + 1) : index + 1}
                </h3>
                <a
                  class="font-bold text-very-dark-blue hover:text-soft-red transition-colors text-lg lg:text-xl"
                  href="#"
                >
                  {title}
                </a>
                <p>{body}</p>
              </div>
            </div>
          ))
        }
      </section>
    </main>

    <footer class="text-center pt-16 pb-8">
      <p>
        Challenge by <a
          href="https://www.frontendmentor.io?ref=challenge"
          target="_blank"
          class="text-soft-red hover:underline">Frontend Mentor</a
        >. Coded by <a href="https://znagy.hu" target="_blank" class="text-soft-red hover:underline"
          >Zétény Nagy</a
        >.
      </p>
    </footer>
  </body>
</html>
